body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    margin: 0;
    padding: 0;
}

header {
    background-color: #550000;
    color: #FFF;
    padding: 5px 20px;
}

.content {
    margin: 5px 20px;
}

header a {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}

div.headerLeft {
    float: left;
}

div.headerRight {
    float: right;
    padding-top: 15px;
}

div#key {
    border: 1px solid #000;
    padding: 20px;
    display: inline-block;
    margin-bottom: 10px;
    width: 45em;
}

div#key pre {
    font-size: medium;
}

.clear {
    clear: both;
}

.error {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ebccd1;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
}

#login-box {
    width: 250px;
    padding: 20px;
    margin: 100px auto;
    background: #fff;
    border-radius: 2px;
    border: 1px solid #000;
}

a {
    color: #550000;
}

table.list {
    border-collapse: collapse;
    border: 1px solid #000;
}

table.list tr {
    border: 1px dotted #CCC;
}

table td, table th {
    padding: 3px 5px;
    text-align: left;
    vertical-align: top;
    font-size: small;
}

table.list th {
    background-color: #000;
    color: #FFF;
    border: 1px solid #000;
}
